# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\users\baghli\doc\19\Enseignement\Pauwes\microgrid\programs\Cpp\uni6\transstab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
